<template name="components_history">
    <h3>History</h3>
    <ul>
        <li>@isaiah (+5 NZC)</li>
        <li>@josh (+5 NZC)</li>
        <li>@steven (+57 NZC)</li>
        <li>@fred (+5 NZC)</li>
        <li>@sudotong (+5 NZC)</li>
        <li>@isaiah (-15 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@josh (-105 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
        <li>@isaiah (+5 NZC)</li>
    </ul>
</template>