<template name="views_faq">
    <div class="row-fluid">
        <h1>Frequently asked questions</h1>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
        <h2>Question 1</h2>
        <p>Answer that explains how this thing is working and what the purpose is and how people should bet</p>
    </div>
</template>
