<template name="views_guide">

    <div class="ui vertical masthead center aligned segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="twelve wide centered column">
                    <h1 class="ui header" style="font-size:4em">
                        How does People Coin work?
                    </h1>
                </div>
            </div>
            <div class="row" style="padding-bottom:40px">
                <iframe src="https://docs.google.com/presentation/d/1fGxu_GDQPQzRp_hOm7HRHkhTzI5iu1XnkIYGgwTRzwI/embed?start=true&loop=false&delayms=5000"
                        frameborder="0" width="791" height="452" allowfullscreen style="display:block;margin:0 auto"></iframe>
            </div>
        </div>
    </div>
</template>