<template name="views_search">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{> components_searchBox}}
        </div>
        <div class="col-md-2"></div>
    </div>
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-4">
             {{> components_history}}
         </div>
         <div class="col-md-4">
             {{> components_transaction}}
         </div>
         <div class="col-md-2"></div>
     </div>
</template>
