<template name="components_peep">
    {{#if peep}}
        <div class="row">
            <div class="col offset-m2 m2 s8 offset-s2">
                Last traded on {{formatTime peep.lastTrade "MMM Do"}}.
                {{> components_peepChart peep=peep}}
                <p class="flow-text">{{peep.bio}}</p>
                <br />
                <a class="waves-effect waves-light blue btn small">Share</a>
            </div>

            <div class="col offset-m1 m2 s8 offset-s2">
                <div class="row">
                    <div class="col s12 card small" style="padding: 0;">
                        <div class="card-image">
                            <div class="peep-image" style={{concat "background-image: url(" peep.imageBig ")"}}></div>
                            <span class="card-title">{{peep.screen_name}}</span>
                            {{> peep_buttons}}

                        </div>
                        <div class="card-content">
                            <p>{{peep.numTrades}} PeepCoin</p>
                        </div>
                        <h3>Your current stake: <strong>900 PeepCoin</strong></h3>
                    </div>
                </div>
            </div>
            <div class="col offset-m1 m4 offset-s2 s8">{{> components_transaction peep=peep}}</div>

        </div>
    {{/if}}
</template>