.navbar-middle  {
    margin: 0 calc(50% - 120px);
    position: absolute;
}

.twitter-search{
    margin-top: 0;
}

.at-signup-link{
    display: none;
}

.logoutBtn{
    display: block;
    margin: 0 auto;
}

.card.small .card-image{
     max-height: none;
     overflow: unset;
}

.card.small a:hover, a:focus {
     color: white;
     text-decoration: none !important;
}

.web3_address{
    pointer-events:none;
}

.peepcoin_h1{
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    color: #ffab40;
    font-size: 60px;
    font-weight: 700;
}

.peepcoin_h2{
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    background: none;
    color:black;
    font-size: 30px;
    font-weight: 500;
}