<template name="layout_footer">
   <footer class="footernav">
        <ul class="list-inline">
            <li>
                <a href="{{ pathFor 'search' }}">
                    {{{i18n 'dapp.app.buttons.search'}}}
                </a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="{{ pathFor 'account' }}">
                    {{{i18n 'dapp.app.buttons.account'}}}
                </a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="{{ pathFor 'faq' }}">
                    {{{i18n 'dapp.app.buttons.faq'}}}
                </a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="https://github.com/sudotong/people-coin">
                    {{{i18n 'dapp.app.buttons.github'}}}
                </a>
            </li>
            <li>
                <a href="https://discord.gg/NAdh82e">
                    {{{i18n 'dapp.app.buttons.discord'}}}
                </a>
            </li>
        </ul>
       
        <p class="copyright text-muted small">
            {{{i18n 'dapp.app.copyright'}}}
        </p>
    </footer>
</template>
