<template name="layout_header">
    <nav class="navbar navbar-default">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">{{{i18n 'dapp.app.title'}}}</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#4a90e2">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{ pathFor route='list.show' data=getTrending }}">{{{i18n 'dapp.app.buttons.trending'}}}</a></li>
                <li><a href="{{ pathFor route='list.show' data=getTop }}">{{{i18n 'dapp.app.buttons.top'}}}</a></li>
                <li><a href="{{ pathFor route='list.show' data=getNew }}">{{{i18n 'dapp.app.buttons.new'}}}</a></li>
            </ul>
            <!--<ul class="hide-on-med-and-down">-->
            <!--</ul>-->
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ pathFor 'guide' }}"><i class="material-icons left">info_outline</i>{{{i18n 'dapp.app.what'}}}</a></li>
                <li><a href="{{ pathFor 'search' }}">{{{i18n 'dapp.app.buttons.search'}}}</a></li>
                <li><a href="{{ pathFor 'account' }}">{{{i18n 'dapp.app.buttons.account'}}}</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ pathFor 'guide' }}"><i class="material-icons left">info_outline</i>{{{i18n 'dapp.app.what'}}}</a></li>
                <li><a href="{{ pathFor route='list.show' data=getTrending }}"><i class="material-icons left">show_chart</i>{{{i18n 'dapp.app.buttons.trending'}}}</a></li>
                <li><a href="{{ pathFor route='list.show' data=getTop }}"><i class="material-icons left">show_chart</i>{{{i18n 'dapp.app.buttons.top'}}}</a></li>
                <li><a href="{{ pathFor route='list.show' data=getNew }}"><i class="material-icons left">show_chart</i>{{{i18n 'dapp.app.buttons.new'}}}</a></li>
                <li><a href="{{ pathFor 'search' }}"><i class="material-icons left">search</i>{{{i18n 'dapp.app.buttons.search'}}}</a></li>
                <li><a href="{{ pathFor 'account' }}"><i class="material-icons left">account_circle</i>{{{i18n 'dapp.app.buttons.account'}}}</a></li>
            </ul>
        </div>
    </nav>

</template>
