<template name="components_explanation">
    <div class="explanation col m8 offset-m2 s10 offset-s1"> 
        <h2 class="peepcoin_h2">In most social circles, the majority believes someone will be very influential and successful.</h2>
        <img src="images/img1.png">
        <h2 class="peepcoin_h2">When that person begins to be influential and others take notice, the original social circle is not surprised.</h2>
        <img src="images/img2.png">
        <h2 class="peepcoin_h2"><span style="color: #ffab40; font-weight: 700">PeopleCoin</span> allows you to bet on the person you believe in before anyone else.</h2>
        <img src="images/img3.png">
        <h3 class="peepcoin_h3">Note: you can withdraw your funds at any time</h3>
        <br />
        <h2 class="peepcoin_h2">After more people invest, you can sell at any time for a profit.</h2>
        <img src="images/img4.png">
        <h2 class="peepcoin_h2">As others are catching on, you are cashing in!</h2>
        <h2 class="peepcoin_h2">Your bet increases in value when additional users buy tokens.</h2>
        <img src="images/img5.png">
        <h2 class="peepcoin_h2">And decreases when additional users sell.</h2>
        <img src="images/img6.png">
        <h2 class="peepcoin_h2">As a first investor, <span style="color: #ffab40; font-weight: 700">PeopleCoin</span> will follow the general Ethereum trend <br />(this is not an independent coin!)</h2>
        <img src="images/img7.png">
        <h2 class="peepcoin_h2">But as the platform matures, the community will decide the next steps for where the coin goes and potentially organize an ICO.</h2>
    </div>
</template>
