<template name="layout_header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
                    {{{i18n 'dapp.app.title'}}}
                </a>
			</div>

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="what-is-this" href="/guide">
                        {{{i18n 'dapp.app.what'}}}
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-middle">
                <li>
                    <a href="{{ pathFor route='list.show' data=getTrending }}">
                        {{{i18n 'dapp.app.buttons.trending'}}}
                    </a>
                </li>
                <li>
                    <a href="{{ pathFor route='list.show' data=getTop }}">
                        {{{i18n 'dapp.app.buttons.top'}}}
                    </a>
                </li>
                <li>
                    <a href="{{ pathFor route='list.show' data=getNew }}">
                        {{{i18n 'dapp.app.buttons.new'}}}
                    </a>
                </li>
            </ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
                    <a href="{{ pathFor 'search' }}">
                        {{{i18n 'dapp.app.buttons.search'}}}
                    </a>
                </li>
				<li>
                    <a href="{{ pathFor 'account' }}">
                        {{{i18n 'dapp.app.buttons.account'}}}
                    </a>
                </li>
			</ul>
		</div>
	</nav>
</template>
